#container{
    width: 100%;
    min-height: 100vh; 
}
#calculatorApp{
    width: 100%;
    max-width: 300px;
    background: black;
    margin: 100px auto 20px;
    padding:5px;
    border-radius: 10px;
}
#screen{
    color: #fff;
    font-weight: lighter;
    font-size: 16px;
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#buttons ul{
    margin-bottom: 30px;
}
ul li{
    font-weight: bolder;
    list-style: none;
    font-size: 20px;
}