
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

hr{
    margin-top: 5px;
    background-color: black;
    height: 20px;
    width: auto;
}

#container{
    width: 100%;
    height: 100px;
}

h1{
    margin-top: 16px;
}
#top-container{
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
}


#top-content img{
    margin-top: 2px;
    margin-left: 2px;
    height: 80px;
    width: 80px;
    border-radius: 20px;
}
#top-content{
    display: flex;
    float: left;
}

#navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    color: #d32117;
}

#main-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 100%;
}

#main-image img{
    max-width: 100%;
    box-sizing: border-box;

}

#center-container{
    background-color: #fff;
    display: flex;
    height: 70vh;
    width: 100%;
}

.half{
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.left{
}
.right{
    display: flex;
    flex-direction: column;
}



form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    gap: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
}
form h1{
    display: flex;
    justify-content: center;
    color: #d32117;
}
form hr{
    height: 2px;
}
form input{
    padding: 5px;
    border: none;
    outline: none;
    background-color: #fff;;
    padding: 10px;
    border-radius: 50px;
}
form select{
    padding: 5px;

}
form button{
    padding: 5px;
}
form textarea{
    padding: 10px;
}

i{
    padding: 10px;
}

i:hover{
cursor: pointer;
}

#hours{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width:300px) and (max-width:432px){
    #center-container{
        flex-direction: column-reverse;
        height: auto;
    }

    #top-container{
        flex-direction: column;
        margin-bottom: 8px;
    }
  
    form{
        width: 300px;
        margin: auto;
    }
    .right{
        font-size: smaller;
    }
} 

@media screen and (min-width:432px) and (max-width:600){
    #center-container{
        flex-direction: column-reverse;
    }

    #top-container{
        flex-direction: column;
        margin-bottom: 8px;
    }
   
    form{
        width: 300px;
    }

    .right{
        font-size: smaller;
    }
} 

@media screen and (min-width:600px) and (max-width:1400px){

    #center-container{
        height: auto;
    }

    #top-container{
        flex-direction: column;
        margin-bottom: 8px;
    }
  
    form{
        width: 300px;
        margin: auto;
    }
}


