*{
    margin:0; 
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #f7eddf;
}
.Buttons{
    margin: 50px;
}
.Buttons button{
    background: #333;
    color: #fff;
    width: 120px;
    height: 40px;
    margin: 5px;
}
.ToastBox{
    color: red;
    height: 10px;
    width: 10px;
}